html
  head
    title Login Page
  body
    include ../partials/patronHeader
    .auth-container.auth-login-container
      h2.auth-title Login
      form.auth-form#login-form(action='/login', method='POST')
        .auth-form-group
          label.auth-label(for='username') Username
          input.auth-input#username(type='text', name='username', required)
        .auth-form-group
          label.auth-label(for='password') Password
          input.auth-input#password(type='password', name='password', required)
        button.auth-button#login-button(type='submit') Login
      a.auth-link(href='/register') Don't have an account? Register here.
